.cart-container {
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    background-color: #000000;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    font-family: Arial, sans-serif;
}

.cart-text {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 20px;
    text-align: center;
    color: #ffffff;
}

.cart-games {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.games-in-basket {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    background-color: #f9f9f9;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    transition: background-color 0.3s ease;
}

.games-in-basket:hover {
    background-color: #f1f1f1;
}

.game-link-in-cart {
    text-decoration: none;
    color: #333;
    display: flex;
    align-items: center;
}

.game-name-in-cart {
    margin: 0 10px;
    font-size: 18px;
    color: #0073e6;
    width: 300px;
}

.game-image-in-cart {
    width: 60px;
    height: 60px;
    border-radius: 5px;
}

.price {
    font-size: 16px;
    font-weight: bold;
    color: #333;
}

.remove-from-cart {
    color: #ff4d4d;
    cursor: pointer;
    font-size: 14px;
    padding: 5px 10px;
    border: 1px solid #ff4d4d;
    border-radius: 5px;
    transition: background-color 0.3s ease, color 0.3s ease;
}

.remove-from-cart:hover {
    background-color: #ff4d4d;
    color: #fff;
}

.no-game {
    text-align: center;
    font-size: 18px;
    color: #999;
}

.cart-summary {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
    text-align: right;
}

.total-price {
    font-size: 20px;
    font-weight: bold;
    color: #ffffff;
}
.payment{
    background-color: rgb(30, 30, 45);
    cursor: pointer;
    color: white;
    font-size: 14px;
    padding: 5px 10px;
    border-radius: 5px;
    transition: background-color 0.3s ease, color 0.3s ease;
    border: none;
}
.payment:hover{
    background-color: #01b079;
    color: #fff;
}