.search-bar{
    width: 70%;
    height: 50px;
    display: flex;
    margin: 0 auto;
    align-items: center;
    justify-content: space-around;

}
.search-bar input{
    height: 30px;
    width: 60%;
    padding: 5px;
}
.search-bar button{
    width: 20%;
    height: 30px;
}