@import url('https://fonts.googleapis.com/css2?family=Zen+Dots&display=swap');
.ads{
    font-family: "Zen Dots", sans-serif;
    display: block;
    width: 90%;
    font-size:4.8vw;
    margin: 0 auto;
    position: absolute;
    z-index: 2;
    text-align: center;
}
body{
    background-color: #282c34;
    color: white;
}
.courusel{
    background-color: black;
    width: 90%;
    margin: 20px auto;
    border-radius: 10px;
    border: 2px rgb(45, 45, 68) solid;
}

.ads:hover{
    cursor: pointer;
}
@media screen and (max-width: 1279px) and (min-width: 992px){
 
    .ads{
        font-size:5vw;
        margin-top: -40px;
      
    }

}
@media screen and (max-width: 991px) and (min-width: 320px) {
    .ads{
        font-size:6.5vw;
        margin-top: -70px;
      
    }

}